- content_for :head do
  %title Layout D

.scrolling
  = partial "fakecontent.haml"
  = partial "heatmap.haml"

.fixframe
  = partial "detail1.haml"
  = partial "bucket1.haml"
  = partial "bucket2.haml"
  = partial "notifier.haml"

